@use 'sass:math';



$rgb: 255;
$gamma: 2.4;
$alpha: 1.055;
$mgamma: 1.4;
$malpha: 0.055;
$beta-delta: math.div($malpha, $mgamma);
$delta-dividend-a: math.pow($alpha, $gamma);
$delta-dividend-b: math.pow($mgamma, $mgamma);
$delta-divisor-a: math.pow($malpha, $mgamma);
$delta-divisor-b: math.pow($gamma, $gamma);
$delta-dividend: ($delta-dividend-a * $delta-dividend-b);
$delta-divisor: ($delta-divisor-a * $delta-divisor-b);
$delta: math.div($delta-dividend, $delta-divisor);
$beta: math.div($beta-delta, $delta);
$contrast-hack: 0.05;
$xyz-r: 0.21263900587151027;
$xyz-g: 0.715168678767756;
$xyz-b: 0.07219231536073371;
